:root {
  --theme-grey: #24292e;
  --theme-blue: #0366d6;
  --tag-hover-blue: #dbedff;
  --theme-green: #305d78;
  --theme-focus-blue: #b2d1f3;
  --tag-bg-blue: #f1f8ff;
  --background-white: #ffffff;
  --tab-underline-active: #f9826c;
  --tab-underline-hover: #d1d5da;
  --pill-grey: #e8eaec;
  --text-black: #24292e;
  --text-grey: #7c838c;
  --text-white: #ffffff;
  --icon-grey: #9ea6ad;
  --border-grey: #eceef0;
  --btn-hover: #f3f4f6;
  --nav-input-grey: #404851;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("css/fonts/Segoe\ UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: url("css/fonts/Segoe\ UI\ Bold.woff") format("woff");
}

body {
  font-family: "Segoe UI", "Segoe UI Regular", Geneva, Verdana, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  height: 62px;
  background-color: var(--theme-grey);
  width: 100vw;
  padding: 16px 32px; 
  color: var(--text-white);
}

header ul {
  text-decoration: none;
  list-style: none;
}

header ul li {
  display: inline;
  margin-right: 16px;
  font-weight: 500;
}

header ul li a {
  cursor: pointer;
  color: var(--text-white);
}

header ul li a:hover{
  color: var(--text-grey);
}
header input {
  background-image: url('./images/search.svg');
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
}

.home-page {
  height: calc(100vh - 64px); 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-page::before{
  content: "";
  position: absolute;
  top: 64px; 
  left: 0;
  width: 100%; 
  height: calc(100% - 64px);
  background-image: url('images/hero-bg-2x.png.webp'); 
  background-size: cover; 
  background-position: center 40vh; 
  background-repeat: no-repeat;
  filter: grayscale(100%);
}



h1.display-1{
  font-size: 80px;
}
 
p.display-1{
  font-size: 50px;
  margin: 10px 0px;
  color: var(--text-grey);
}

p.display-2{
  font-size: 30px;
  line-height: 30px;
  color: var(--theme-green);
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
}

section.search{
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  
}

.input-container:focus-within button{
  box-shadow: 0px 0px 0px 3px var(--theme-focus-blue);
}

.input-container:focus-within button svg{
  fill: var(--theme-blue);
}

.input-container:focus-within input{
  box-shadow: 0px 0px 0px 3px var(--theme-focus-blue);
}

input.home-search{
  font-size: 30px;
  padding: 10px 0px 10px 20px;
  margin: 10px auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 0px;
  border: 2px solid var(--border-grey);
}

input.home-search:focus-within{
  border: 2px solid var(--theme-blue);
}

button.home-search{
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  
  /* background-color: var(--theme-grey); */
  border: 2px solid transparent;
}

button.home-search svg{
  fill : var(--icon-grey);
  margin-right: 10px;
  /* padding-top: 10px */
}

button.home-search:focus{
  outline: none;
  border: 2px solid var(--theme-blue);
  color: var(--theme-blue);
}

button.home-search:focus svg, button.home-search:hover svg{
  fill: var(--theme-blue)
}

button.home-search:hover {
  cursor: pointer;
  color: var(--theme-blue);
}

section.hero-404 {
  width: 100%;
  display: flex;
  height: 45vh;
  background-image: url("images/desertbckgrnd.svg") ;
  background-size: cover;
  background-position: center 60%;
  align-items: center;
  justify-content: center;
}

section.hero-404 .message-container-lg {
  margin: 0 50px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

section.hero-404 .message-container-lg .display-1 {
  text-align: center; 
  color: white; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section.hero-404 .message-container-lg .message-box {
  padding: 15px; 
  background-color: white; 
  max-width: 250px; 
  border-radius: 20px; 
  position: relative; 
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section.hero-404 .obiwan-octocat {
  width: 230px; 
  height: 230px;
}

.arrow-right-404 {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 10px;
  right: -30px;
  border-left: 40px solid white;
}

main {
  width: 100vw;
}

main .topbar {
  height: 47px;
  margin-top: 24px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--background-white);
  width: 100vw;
  border-bottom: 1px solid var(--border-grey);
  z-index: 3;
}

.container  {
  margin: auto;
  padding: 0px 16px;
  /* width: 85vw; */
  max-width: 1280px;
}

.content {
  display: flex;
  height: 100%;
}

.top-bar-profile {
  flex: 3;
  padding: 0 16px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.3s ease;
}

.top-bar-profile.show {
  opacity: 1;
}

.top-bar-tabs {
  flex: 9;
  padding: 0px 16px 0px 0px;
  display: flex;
  align-items: flex-end;
}

.top-bar-tabs .tab-item{
  padding: 10px 20px;
  font-weight: 400;
  color: var(--text-black);
  font-size: 15px;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.top-bar-tabs .tab-item.active{
  color: var(--text-black);
  font-weight: 600;
  border-bottom: 2px solid var(--tab-underline-active);
}

.top-bar-tabs .tab-item:hover:not(.active) {
  border-bottom: 2px solid var(--tab-underline-hover);
  cursor: pointer;
}

.tab-item-text {
  margin-left: 6px;
  font-size: 14px;
}
.tab-item-count-pill.has-content{
  margin: 0 2px;
  background-color: var(--pill-grey);
  padding: 0px 6px;
  border-radius: 10px;
  font-size: 12px;
}

section.profile {
  flex: 3;
  width: 25%;
  padding: 0 16px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
}

.profile-image {
  position: relative;
  z-index: 4;
  padding-bottom: 100%;
}

.profile-bio {
  /* margin-top: 38vh; */
  z-index: 2;
  flex: 1;
  flex-grow: 1;
}

.profile-name {
  font-size: 26px;
  line-height: 32px;
  padding-top: 16px;
  font-weight: 500;
  color: var(--text-black);
}

.profile-username {
  font-size: 20px;
  line-height: 24px;
  font-weight: 200;
  padding-bottom: 0px;
  color: var(--text-grey);
}

.profile-short-bio {
  line-height: 24px;
}

.profile-contact-item{
  display: flex; 
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.profile-contact-item a {
  color: var(--theme-grey);
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
}

.profile-contact-item svg {
  fill: var(--text-grey);
}

.profile-contact-item a[href]:hover {
  color: var(--theme-blue);
}

.profile-contact-item a[href]:hover svg {
  fill: var(--theme-blue);
}

.user-image {
  position: absolute;
  width: 100%;
}

.user-status {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  top: -70px;
  left: 80%;
  border-radius: 2rem;
  border: 1px solid var(--border-grey);
  background-color: var(--background-white);
}

.user-status:hover {
  width: auto;
  padding: 2px 5px;
  /* max-width: 544px; */
  display: inline-block;
  justify-content: start;
  box-shadow: 1.5px 1.5px 7px var(--border-grey);
}

.user-status:hover .status-text {
  display: inline-block;
}

.status-text {
  display: none;
}

.spacer {
  flex-grow: 1;
}

.notification-container {
  display: flex;
  position: relative;
  margin-right: 16px;
  cursor: pointer;
}

.user-status-details {
  
  /* /* word-break: break-word;
  word-wrap: break-word;
  /* text-align: center; */
  padding: 6px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.avatar {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-grey);
  border-radius: 50%;
}

.small-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.small-avatar-container {
  width: 20px; 
  height: 20px
}

section.repos {
  width: 75%;
  padding: 0 16px;
}

svg.logo {
  fill: var(--text-white);
  width: 32px;
  height: 32px;
  margin-right: 16px;
  cursor: pointer;
}

svg.menu-icon {
  fill: var(--text-white);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nav {
  display: flex; 
  width: 100%; 
  align-items: center;
  font-size: 14px;
}

svg.nav-icon {
  fill: var(--text-white);
}

svg.nav-icon:hover {
  fill: var(--text-grey);
}

svg.tab-icon {
  fill: var(--text-grey )
}

svg.repo-info-icon {
  width: 16px;
  height: 16px;
  margin-right: 3px;
  fill: var(--text-grey)
}

svg.btn-icon {
  width: 16px;
  height: 16px;
}

svg.btn-icon-left{
  margin-right: 4px;
}

svg.profile-icon {
  margin: 0px 5px;
  flex-shrink: 0;
  fill: var(--text-grey);
}

a.following {
  color: var(--text-black);
}

a.following:hover {
  color: var(--theme-blue);
}

a.following:hover svg{
  fill: var(--theme-blue)
}

input {
  font-size: 14px;
  padding: 5px 12px;
  border: 1px solid var(--border-grey);
  border-radius: 6px;
  line-height: 20px;
  color: var(--text-black);
  font-weight: thin;
  background-color: transparent;
}

input#nav-search-input {
  border: 1px solid var(--nav-input-grey);
}

.notification-badge{
  width: 14px; 
  height: 14px; 
  position: absolute; 
  background: linear-gradient(to top, var(--theme-blue), #4b9cfa) ; 
  border-radius: 50%; 
  top: -8px; 
  left: 6px; 
  border: 2px solid var(--theme-grey);
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 16px;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

header input:focus{
  box-shadow: none;
}

input:focus {
  border: 1px solid var(--theme-blue);
  box-shadow: 0px 0px 0px 3px var(--theme-focus-blue);
  outline: none;
  background-color: var(--background-white);
  -webkit-appearance: none;
}

.input::-webkit-input-placeholder {
  font-weight: 200 !important;
  color:var(--icon-grey);
}
.input::-moz-placeholder {
  font-weight: 200 !important;
  color:var(--icon-grey);
}
.input::-ms-input-placeholder {
  font-weight: 200 !important;
  color:var(--icon-grey);
}

p {
  font-weight: normal;
}
strong {
  font-weight: medium;
}

.main-item {
  padding: 16px 4px; 
  border-bottom: 1px solid var(--border-grey);
}

.repo-item {
  padding: 24px 4px;
  display: flex;
  border-bottom: 1px solid var(--border-grey);
}

.repo-item-details{
  flex: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.repo-item-button{
  flex: 3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 16px;
}

.repo-title{
  color: var(--theme-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.repo-desc{
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 6px;
  color: var(--text-grey);
}

.repo-info {
  font-size: 12px;
  margin-top: 8px;
  color: var(--text-grey);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.repo-info-item {
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.repo-info-item.link-item {
  
  color: var(--theme-grey);
}
.repo-info-item.link-item:hover {
  cursor: pointer;
  color: var(--theme-blue);
}

.repo-info-item.link-item:hover svg{
  fill: var(--theme-blue);
}

a {
  text-decoration: none;
  color: var(--theme-blue);
}

.btn {
  color: var(--text-black);
  background-color: var(--background-white);
  margin: 10px 0px;
}

.btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

.btn:active {
  background-color: var(--icon-grey);
}

.btn-small {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid var(--text-grey);
  border-radius: 6px;
}

.btn-block {
  width: 100%; 
}

.repo-tags{
  display: flex;
  margin: 4px 0px;
  flex-wrap: wrap;
}

.tag-topic {
  padding: 0 10px;
  border-radius: 24px;
  line-height: 22px;
  font-size: 12px;
  margin: 4px 1.5px 4px 0px;
  background-color: var(--tag-bg-blue);
  font-weight: 500;
  transition: all 0.2s ease;
}

.tag-topic:hover {
  background-color: var(--tag-hover-blue);
  cursor: pointer;
}

.repo-language-color {
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  width: 12px;
  position: relative;
  top: 1px;
  margin-right: 4px;
}

#transition {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-out;
}

#transition.is-active {
  opacity: 1;
  pointer-events: all;
}

#connect-error{
  display: none;
}

#connect-retry {
  font-size: 24px; 
  margin: 16px 0; 
  padding: 8px 24px; 
  border-radius: 6px; 
  cursor: pointer; 
  border: 2px solid var(--theme-grey); 
  color: var(--theme-grey);
}

#nav-search-input {
  width: 100%;
  color: var(--pill-grey)
}

#nav-search-input:focus {
  color: var(--text-black)
}

.search-input-container {
  transition: all 0.3s ease;
  min-width: 272px;
  margin-right: 16px;
}

.search-input-container:focus-within {
  flex: 1;
  margin-right: 16px;
  /* transition: all 0.5s ease; */
}

.md-down {
  display: none;
}

.sm-only {
  display: none;
}

.logo-text {
  display: inline;
  margin-right: 16px;
}

footer {
  margin-top: 10px;
}

.footer-content {
  width: 100%;
  margin: 20px 0 20px;
  padding: 30px 0 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--border-grey);
  font-size: 0.8rem;
}

.footer-content-left, .footer-content-right {
  flex: 4;
  display: flex;
  align-items: center; 
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-content-center {
  flex: 1; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.mobile-hero-404 {
  display: none;
}

section.search-404 {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  width: 60%;
  height: 100%;
}

section.search-404 div p a{
  color: var(--theme-grey);
}

section.search-404 div p {
  text-align: center;
  margin: 32px 0 0;
  font-size: 16px;
}

section.search-404 div p a:hover {
  color: var(--theme-blue);
}

/* Drop Down & Modal */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -16px;
  top: 36px;
  background-color: var(--theme-grey);
  /* width: 60%; */
  /* box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); */
  border-radius: 0;
  /* border-top: 1px solid var(--text-grey); */
  z-index: 5;
  /* transition: all 0.3s ease; */
}

.dropdown-content a {
  text-decoration: none;
  display: block;
}

.dropdown-btn {
  padding: 10px; 
  width: 100%; 
  border-radius: 5px; 
  background-color: var(--theme-grey); 
  color: white; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}
/* End of Drop down styles */

/* Modal Styles */
/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 7; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  width: 80%; 
}

.modal-content .modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content fieldset {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
}

.modal-content fieldset legend {
  padding: 0 10px;
}

.modal-content fieldset form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content fieldset form div select {
  font-size: 14px;
  padding: 5px 12px;
  border: 1px solid var(--border-grey);
  color: var(--text-black);
  border-radius: 5px;
}

.modal-content fieldset form div select:focus {
  border: 1px solid var(--theme-blue);
  box-shadow: 0px 0px 0px 3px var(--theme-focus-blue);
  outline: none;
  background-color: var(--background-white);
}

/* The Close Button */
.close {
  color: var(--text-black);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* End of Modal Styles */

/* Media Queries */
@media screen and (max-width: 970px) {
  
  .top-bar-tabs .tab-item{
    padding: 16px 10px;
  }
  .logo-text {
    display: none;
  }
  .xl-only {
    display: none;
  }
}

@media screen and (max-width: 880px){
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  section.search{
    height: 60%;
  }

  section.profile {
    
    width: 25%;
  }

  section.repos{
    flex: 10;
  }
  .modal-content {
    width: 90%;
  }

  .top-bar-tabs .tab-item{
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    padding: 8px 16px;
  }

  .top-bar-tabs .tab-item.active{
    font-weight: 500;
    font-size: 13px;
  }

  header {
    padding: 16px 16px;
    font-size: 13px;
  }

  header ul li {
    margin-right: 8px;
  }

  #nav-search-input {
    margin-right: 8px;
  }
}



@media screen and (max-width: 762px) {
  .home-page-footer {
    background-color: var(--theme-grey); 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px;
  }

  .home-page-footer a {
    color: white;
  }
  svg.logo {
    margin-right: 0px;
  }

  .notification-container {
    margin-right: 0px;
  }
  section.hero-404 {
    display: none;
  }

  .modal-content fieldset form {
    flex-direction: column;
  }

  .modal-content fieldset form div {
    margin: 10px 0;
    font-size: 20px;
  }

  .modal-content fieldset form div select, .modal-content fieldset form div input {
    font-size: 20px;
    color: var(--theme-grey);
  }

  .dropdown-show {
    display:block;
    width: 100vw;
  }

  section.search-404 {
    width: 80%;
  }

  .mobile-hero-404{
    display: block;
    height: 40vh;
    background-color: var(--theme-grey);
  }
  
  .lg-only {
    display: none;
  }

  .logo-text {
    display: none;
  }

  .input-container {
    width: 60vw;
    justify-content: center;
  }

  .repo-item-details {
    flex: 10;
  }

  .repo-item-button {
    flex: 2;
    align-items: center;
    padding-top: 0;
  }

  section.profile {
    display: none;
  }

  .md-down{
    display: inline;
  }

  .nav {
    justify-content: space-between;
  }

  .footer-content{
    display: inline-block;
    text-align: center;
  }
  .footer-content-left, .footer-content-right {
    display: inline-block;
    text-align: center;
  }

  .footer-content-left a, .footer-content-right a {
    display: inline-block;
    padding: 6px;
    
    
  }
}

@media screen and (max-width: 542px) {
  .top-bar-tabs {
    overflow-x: scroll;
    
  }
  .sm-only {
    display: block;
  }

  .modal-content {
    width: 90%;
  }



  .dropdown-content ul li {
    display: block;
    border-bottom: 1px solid var(--text-grey);
    padding: 10px;
  }

  .dropdown-content ul {
    list-style: none;
  }

  section.search-404{
    width: 85%;
  }
  
  .top-bar-tabs .tab-item svg.tab-icon {
    display: none;
  }
  .top-bar-tabs .tab-item.active svg{
    display: none;
  }

  .repo-info {
    margin-top: 0;
  }

  .repo-desc {
    word-break: break-word;
    font-size: 12px;
  }

  .home-page::before {
    background-image: url('images/hero-bg-mobile.png.webp');
  }

  .input-container {
    display: none;
  }

  section.search {
    height: 52vh;
  }

  h1.display-1 {
    font-size: 60px;
  }
  p.display-1 {
    font-size: 40px;
  }

  section.search input.sm-only {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 25px;
    border: 1px solid var(--theme-focus-blue);
  }

  section.search button.sm-only {
    width: 100%;
    margin-top: 20px;
    padding: 11px 10px;
    font-size: 24px;
    
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--theme-grey) ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-grey);

  }

  section.search button.sm-only:focus {
    border: 2px solid var(--theme-blue);
    box-shadow: 0 0 2px 2px var(--theme-focus-blue);
    color: var(--theme-blue);
  }

  section.search button.sm-only:focus svg{
    fill: var(--theme-blue);
  }

  section.search button.sm-only svg {
    fill: var(--theme-grey);
    width: 24; 
    height: 24;
    margin-right: 10px;
  }
}

@media screen and (max-width: 420px) {
  .top-bar-tabs {
    padding: 0 16px;
    justify-content: space-evenly;
  }

  .top-bar-tabs .tab-item .tab-item-text{
    display: flex;
    font-size: 13px;
  }

  h1.display-1 {
    font-size: 45px;
  }

  p.display-1 {
    font-size: 32px;
    text-align: center;
  }

  .modal-content fieldset form div {
    margin: 10px 0;
    font-size: 14px;
  }

  .modal-content fieldset form div select, .modal-content fieldset form div input {
    font-size: 14px;
    
  }

  section.search-404 {
    width: 100%;
    margin: 32px 0 0;
    padding: 0 16px;
  }
 
  section.search-404 p, section.search-404 div p{
    font-size: 13px;
  }

  section.search input.sm-only {
    width: 90%;
  }

  section.search button.sm-only {
    width: 90%;
  }

  section.search {
    height: 60vh;
  }

  .footer-content {
    padding: 20px 0 0;
  }

  .footer-content-left  {
    margin-top: 10px;
  }
}